<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Monster Insights Pies</title>
    <script type="importmap">
            {
                "imports": {
                    "vue": "https://cdn.jsdelivr.net/npm/vue/dist/vue.esm-browser.js"
                }
            }
    </script>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="./pies.js" type="module"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="//cdn.amcharts.com/lib/5/hierarchy.js"></script>


    <script src="//cdn.amcharts.com/lib/5/themes/Animated.js"></script>


  </head>
  <body>
    <div id="app"></div>

    <template id="template">
        <div id="controls">
            <!-- <label for="month"></label> -->
            <select v-model="month" name="month" id="month">
                <option value="feb">February</option>
                <option value="jun">June</option>
                <option value="jul">July</option>
            </select>

            <select v-model="grouping" name="grouping" id="grouping">
                <option value="play">play</option>
                <option value="language">language</option>
                <option value="director">director</option>
                <option value="type">type</option>
            </select>



        </div>
        <h1>{{month}} {{grouping}}</h1>
        <div id="chartdiv" ref="chartdiv" class="gender"></div>

    </template>




  </body>
</html>
