body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.chartdiv, #chartdiv {
  width: 100%;
  height: 1500px;
  border: 3px solid;
}
