
<div class="toplevel">
<div id="chartdiv" ref="chartdiv" class="utilities"><pre><code id="utilities-code" class="language-js"></code></pre></div>

<div class="controls">
    <ul class="groups">
        <li class = "description">
            <button class="keyword title">Utilities</button>
            <div>
                <p>These are the various scrapers, crawlers, and scripts used to build the datasets used for these charts. Each includes a preview of the script, a description of it's purpose, and instructions on how to use it.</p>
                <p>To download the script or copy to your clipboard, click the corresponding button at the bottom of the page.</p>
                <p>All necessary npm installs are included at the top of the file</p>
            </div>
        </li>
        <li class = "description">
            <button class="prodTable title" @click="file='prod-table'">Prod Table</button>
            <div v-if="file=='prod-table'">
                <p>Scrapes metadata fields for all productions currently on the GSVA website and compares to the current production table Excel sheet. It saves the result of this comparison as an Excel sheet and a JSON file.</p>
                <p>To use: download the file in the same directory as the current production table Excel sheet; run 'node prod-table.js'</p>
            </div>
        </li>
        <li class = "description">
            <button class="count title" @click="file='count'">Count</button>
            <div v-if="file=='count'">
                <p>Used to count the number of countries, regions, etc represented in the production table</p>
                <p>To use: download file in same directory as production table json; cd to directory and run 'node count.js'</p>
            </div>

        </li>
        <li class = "description" >
            <button class="crawler title" @click="file='pdf-crawl'">Crawler</button>
            <div v-if="file=='pdf-crawl'">
                <p>Used to read Monster Insights reports and crossreference with GSVA website to create dataset used in bar chart</p>
                <p>To use: download file in same directory as the Monster Insights pdf report; run 'node pdf-crawl.js'; when prompted in your console, enter the month and year of the report</p>
            </div>

        </li>
        <li class = "description">
            <button class="copy title" @click="copyFile()">Copy</button>
        </li>
        <li class = "description">
            <a :['href']="`/${file}.js`" :['download']="`/${file}.js`"><button class="download title" @click="">Download</button></a>
        </li>

    </ul>
</div>
</div>
